{% extends "music/musicbase.html" %}
{% block content %}
    <p>So ya got some exclusive sound waves below and here are some links to people how do a music:
        </p>
    <a style="background-color: gold" href="https://soundcloud.com/reak_z">REAK-Z</a></p>
    <a href="/music/idea" style="background-color: green">IF YOU WANT AN IDEA</a>
    <br>
    <div>
        <div class="col-md-6"><a href="https://www.youtube.com/playlist?list=PLCoDCFOd7FhfVAh9SDcQDJ6-s2tKeYd1C"><img
                width="100px" src="../../static/mis/youtube.png"></a></div>
        <div class="col-md-6"><a href="https://soundcloud.com/spoontheprune"><img width="100px" src="../../static/mis/soundcloud.jpg"></a>
        </div>
    </div>
    <br>
    <hr>
    <a href="/music/live"><img style="display: block; margin: 20px auto 20px;" src="../../static/mis/liveFeed.gif"></a>
    <br>
    <div style="margin-bottom: 50px">
        <a href="/music/songs"><img style="margin:0 auto; width: 49%;" src="../../static/music/songs.png"></a>
        <img style="width: 49%;" src="../../static/music/musicman.png">
    </div>
{% endblock %}
