{% extends "prebase.html" %}
{% block content%}
<div class="center-text">
    <h1>Guides</h1>
    <div class="item-container" >
        <h3 class="no-margins">School Hints and tips</h3>
        <ul style="text-align: left">
            <li>Grow long hair so that it hides your ears and thus, your earphones.</li>
            <li>more to come</li>
        </ul>
    </div>
    <br>
    <div class="item-container" >
        <h3 class="no-margins">The basic Orb guide</h3>
        <p style="text-align: left">The Orb is a hand gesture which can be performed in a group of any size or
         solo. The basic 'solo' orb is done by touch the tips <span style="font-size: xx-small">( ͡° ͜ʖ ͡°)</span> of
        each finger on one hand to the same finger of the other hand. This includes the thumbs. Finally, the space
        inside the hands is turned into a sphere, or ORB, by extending and curling the fingers</p>
    </div>
</div>
{% endblock %}

