{% extends "prebase.html" %}
{% block content %}
    <div class="center-text">
        <h1>Guides</h1>
        <div class="item-container">
            <h3 class="no-margins">School Hints and tips</h3>
            <ul style="text-align: left">
                <li>Grow long hair so that it hides your ears and thus, your earphones.</li>
                <li>Additionally, buy some wireless headphones for added concealment</li>
                <li>Do things that are funny, get in trouble, and have people remember you with a smile on
                their face or don't, don't and don't.</li>
                <li>If your not good at anything in school get good at something out side of it.
                    <span title="and something I wish I'd learnt"> Being able to
                    socialise well is definitely something good to learn.</span></li>
                <li>If you want to meet new people consider moving schools.</li>
                <li>more to come</li>
            </ul>
        </div>

        <br>

        <div class="item-container">
            <h3 class="no-margins">The basic Orb guide</h3>
            <img src="/static/words/orb.JPG" style="float: right; width: 15%" >
            <p style="text-align: left">The Orb is a hand gesture which can be performed in a group of any size or
                solo. The basic 'solo' orb is done by touch the tips <span
                        style="font-size: xx-small">( ͡° ͜ʖ ͡°)</span> of
                each finger on one hand to the same finger of the other hand. This includes the thumbs. Finally, the
                space
                inside the hands is turned into a sphere, or ORB, by extending and curling the fingers</p>
        </div>

        <br>

         <div class="item-container">
            <h3 class="no-margins">How to waste a day</h3>
             <p>Step one. Wake up <br>
                Step 2. Watch videos on your phone for hours <br>
                Step 3. Eat some food. <br>
                Step 4. Feel the need to do something <br>
                Step 5. Watch tv or go on the pc. (yourchoice) <br>
                Step 6. Wonder why there is never anyone around <br>
                Step 7. nap <br>
                Step 8. bed time<br></p>
        </div>

        <br>

        <div class="item-container">
            <h3 class="no-margins">Things you should consider calling people</h3>
            <ul style="text-align: left">
                <li>Boyo</li>
                <li>Man</li>
                <li>buddu</li>
                <li>kid</li>
                <li>Undoubtedly the scum</li>
                <li>A DIRTY BRONZE(aka salty john)</li>
            </ul>
            <h3 class="no-margins">Things you shouldn't consider calling people as I control your free will</h3>
            <ul style="text-align: left">
                <li>Bro</li>
                <li>G</li>
                <li>You (As in 'Oi you!'(have some respect please<span title="Or do">(Or don't)</span>))</li>
            </ul>
        </div>

    <br>

    <div class="item-container">
        <h3>Try the purple guy. Try his forehead area</h3>
    </div>


    </div>
{% endblock %}

