{% extends "prebase.html" %}
{% block main %}
    <div class="col-md-2"></div>
    <div id="main-div" class="col-md-8 no-padding " style="padding: 0">
        {# One-time system messages called Flash messages #}
        {% block flash_messages %}
            {%- with messages = get_flashed_messages(with_categories=true) -%}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category=='error' %}
                            {% set category='danger' %}
                        {% endif %}
                        <div class="alert alert-{{ category }}">{{ message|safe }}</div>
                    {% endfor %}
                {% endif %}
            {%- endwith %}
        {% endblock %}

        <h1 class="center-text">Writings</h1>
        <div class="row-height">
            <div class="col-md-6 center-text col-height" style=" background-color: rgba(255, 255, 255, 0.35); height: 100%">
                <h2>Guides and Lists <br> (Promise its better than it sounds)</h2>
                <a href="/words/guides"><img style="width: 80%" src="../../static/words/guides.gif">
            </a></div>
            <div class="col-md-6 center-text col-height" style="padding-bottom: 70px;background-color: rgba(0, 0, 0, 0.35); height: 100%">
                <h2>Stories</h2>
                <img width="100%" src="../../static/comingSoon.png">
            </div>
        </div>


    </div>
    <div class="col-md-2"></div>
{% endblock %}