{% macro render_field(field, label=None, label_visible=true, right_url=None, right_label=None) -%}
    <div class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
        {% if field.type != 'HiddenField' and label_visible %}
            {% if not label %}{% set label=field.label.text %}{% endif %}
            <label for="{{ field.id }}" class="control-label">{{ label|safe }}</label>
        {% endif %}
        {{ field(class_='form-control', **kwargs) }}
        {% if field.errors %}
            {% for e in field.errors %}
                <p class="help-block">{{ e }}</p>
            {% endfor %}
        {% endif %}
    </div>
{%- endmacro %}

{% macro render_checkbox_field(field, label=None) -%}
    {% if not label %}{% set label=field.label.text %}{% endif %}
    <div class="checkbox">
        <label>
            {{ field(type='checkbox', **kwargs) }} {{ label }}
        </label>
    </div>
{%- endmacro %}

{% macro render_radio_field(field) -%}
    {% for value, label, checked in field.iter_choices() %}
        <div class="radio">
            <label>
                <input type="radio" name="{{ field.id }}" id="{{ field.id }}" value="{{ value }}"{% if checked %}
                       checked{% endif %}>
                {{ label }}
            </label>
        </div>
    {% endfor %}
{%- endmacro %}

{% macro render_submit_field(field, label=None, tabindex=None) -%}
    {% if not label %}{% set label=field.label.text %}{% endif %}
    {#<button type="submit" class="form-control btn btn-default btn-primary">{{label}}</button>#}
    <input type="submit" class="btn btn-default btn-primary" value="{{ label }}"
           {% if tabindex %}tabindex="{{ tabindex }}"{% endif %}
    >
{%- endmacro %}

{% macro pictureframe (image_id = none,description=none, link=none , title= none, image_link = '../static/comingSoon.png', bootstrap_size=none) %}

    <a {% if link %}
        href="{{ link }}"
    {% endif %}
            {% if not link and image_link != '../static/comingSoon.png' %}
        href='#' data-toggle="modal" data-target="#{{ image_id }}"
            {% endif %}
        style="display: block">
        <div class=" col-md-{{ bootstrap_size }} center-text">
            <div class="picture-container" {% if link %}style="background-color: #b3ffff" {% endif %}>
                <div class="with-margins">
                    {% if title %}
                        <h3 class="no-margins">{{ title }}</h3>
                        <br>
                    {% endif %}
                    <img src="{{ image_link }}">
                    <br>
                </div>
                {% if description %}
                    <div class="picture-description">
                        <p class="no-margins">{{ description }}</p>
                    </div>
                {% endif %}</div>

        </div>
    </a>

    <div id="{{ image_id }}" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{ title }}</h4>
                </div>
                <div class="modal-body">
                    <img src="{{ image_link }}" style="width: 100%">
                </div>
                <div class="modal-footer">
                    <p>{{ description }}</p>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>



{% endmacro %}