img {
    max-width: 100%
}

#main-div {
    padding-bottom: 70px;
    background-image: url("/static/background.png");
    background-repeat: repeat;
    -webkit-box-shadow: inset 0px -96px 67px -63px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0px -96px 67px -63px rgba(0, 0, 0, 1);
    box-shadow: inset 0px -96px 67px -63px rgba(0, 0, 0, 1);
}

.top-bottom-margin {
    margin-top: 10px;
    margin-bottom: 10px;
}

html, body {
    height: 100%;
}

#page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -60px;
}

#page-wrap:after {
    content: "";
    display: block;
    /*width: 50px;*/
}

#footer-div, .page-wrap:after {
    background: black;
    color: ghostwhite;
    height: 60px;
    width: 100%;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#header-wrap {
    background: white;
}

body {
    background: black;
}

.no-margins {
    margin: 0px;
}

.with-padding {
    padding: 10px
}

.with-margins {
    margin: 10px;
}

.no-padding {
    padding: 0;
}

.rounded {
    border-radius: 10px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.text-justify {
    text-align: justify;
    text-justify: inter-word;
}

.center-text {
    text-align: center;
}

h2 {
    text-decoration: underline
}

.description_box {
    background: rgba(163, 163, 163, 0.76);
    width: 90%;
    display: block;
    margin: auto;
    border-radius: 5px;
}

.clearfix {
    overflow: auto;
}

#content-wrap {
    margin-bottom: 50px;
}

.picture-container {
    background: rgba(255, 255, 255, 0.75);
    border-radius: 1px;
    padding: 0;
    margin: auto;
    overflow: auto;
    border-color: saddlebrown;
    border-width: 5px;
    border-style: ridge;
    height: 100%;
}

.picture-row {
    display: inline-block !important;
    width: 100% !important;

}

.picture-description {
    background: darkgray;
    margin: 0px;
}

.picture-container img {
    width: 100%
}

.item-container {
    background: rgba(77, 77, 77, 0.58);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 15px;
    overflow: auto;
}

.menu {
    list-style-type: none;
    height: 30px;
    text-align: center;
    width: 100%; /* new */
    display: table;

}

.menu-item a {
    display: block;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu-item a:hover {
    background: lightcyan;
    text-decoration: none;
}

.menu-item {
    margin-left: 50px;

    display: table-cell;
}

.menu-item-mobile:hover {
    background: lightcyan;
}

.menu-item-mobile a {
    display: block;
}

.menu-item-mobile {
    font-size: 4vmax;
    padding: 1.5vh;
    width: 100%;
    margin-left: 0;
}

a:hover {
    text-decoration: none
}

.bouncing-container {
    height: 50px;
    overflow: hidden;
    position: relative;
}

.bouncing-container p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: left;
    /* Apply animation to this element */
    -moz-animation: example5 5s linear infinite alternate;
    -webkit-animation: example5 5s linear infinite alternate;
    animation: example5 5s linear infinite alternate;
}

/* Move it (define the animation) */
@-moz-keyframes example5 {
    0% {
        -moz-transform: translateX(70%);
    }
    100% {
        -moz-transform: translateX(0%);
    }
}

@-webkit-keyframes example5 {
    0% {
        -webkit-transform: translateX(70%);
    }
    100% {
        -webkit-transform: translateX(0%);
    }
}

@keyframes example5 {
    0% {
        -moz-transform: translateX(60%); /* Firefox bug fix */
        -webkit-transform: translateX(60%); /* Firefox bug fix */
        transform: translateX(60%);
    }
    100% {
        -moz-transform: translateX(0%); /* Firefox bug fix */
        -webkit-transform: translateX(0%); /* Firefox bug fix */
        transform: translateX(0%);
    }
}

.login-links {
    background: rgba(77, 77, 77, 0.58);
    margin-bottom: 0;
    margin-right: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 7px;
}

.row-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}

.col-height {
    display: table-cell;
    float: none;
    height: 100%;
}