<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
        <title>{{ title }} - spoontheprune</title>
    {% else %}
        <title>Spoon The Prune</title>
    {% endif %}

    <!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/stylesheet.css" rel="stylesheet">
    <!-- In-lining styles to avoid needing a separate .css file -->
    <style>
        hr {
            border-color: rebeccapurple;
            margin: 0;
        }

    </style>
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>

    <![endif]-->
</head>


<body>
{% block body %}
    <div id="page-wrap">
        <div id="header-wrap">
            <div id="header-div" class="clearfix with-padding" style="overflow: auto;">
                <div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="center-text">
                            <a style="cursor: default" href="/prune"><img src="../static/logo.png" class="no-margins"></a>
                        </div>
                    </div>

                    <div class="col-md-4">
                    <img src="/static/mis/redArrow.gif">
                    <span style="position: absolute; right: 5px; top:5px; background-color: rgba(138, 43, 226, 0.67)" class="item-container">
                        {% if call_or_get(current_user.is_authenticated) %}
                            <a href="{{ url_for('user.profile') }}">{{ current_user.username }}</a>
                            &nbsp; | &nbsp;
                            <a href="{{ url_for('user.logout') }}">Sign out</a>
                        {% else %}
                            <a href="{{ url_for('user.register') }}">Register</a>
                            &nbsp; | &nbsp;
                            <a href="{{ url_for('user.login') }}">Sign in</a>
                        {% endif %}
                    </span>
                    </div>
                </div>

            </div>


            {% block menu %}
                <div id="menu-div" class="no-margins">
                    <ul class="menu no-margins no-padding">
                        <li class="menu-item"><a href="/home">Home</a>
                        </li>
                        <li class="menu-item"><a href="/videos">Videos</a>
                        </li>
                        <li class="menu-item"><a href="/pictures">Pictures</a>
                        </li>
                        <li class="menu-item"><a href="/music">Musika</a>
                        </li>
                        <li class="menu-item"><a href="/words">Words</a>
                        </li>
                        {% if call_or_get(current_user.is_authenticated) %}
                            <li class="menu-item"><a href="/contact">SendMeStuff</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <hr class="no-margins"/>
            {% endblock %}

            {% if  current_user.username  == 'Edertz' %}
                <h1 style="font-size: xx-large">Dad, can u not pls</h1>
            {% endif %}

            <hr>
        </div>
        {% block main %}
            <div class="col-md-2"></div>


            <div id="main-div" class="with-padding col-md-8">
                {# One-time system messages called Flash messages #}
                {% block flash_messages %}
                    {%- with messages = get_flashed_messages(with_categories=true) -%}
                        {% if messages %}
                            {% for category, message in messages %}
                                {% if category=='error' %}
                                    {% set category='danger' %}
                                {% endif %}
                                <div class="alert alert-{{ category }}">{{ message|safe }}</div>
                            {% endfor %}
                        {% endif %}
                    {%- endwith %}
                {% endblock %}

                {% block content %}{% endblock %}


            </div>

            <div class="col-md-2"></div>
        {% endblock %}
    </div>

    <div id="footer-div" class="clearfix">
        <div class="container">
            <div class="pull-left">Spoon the Prune v6.9</div>
            <div class="pull-right">&copy; Now - WhenNever</div>
        </div>
    </div>
{% endblock %}


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<!-- Bootstrap -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>