{% extends "base.html" %}
{% block content %}
    <h1 class="center-text">Make contact</h1>
    <p>Have some form of art or a good idea that you want to see on this website? well then. Now is your chance to send
        me a proposal</p>
    <div class="item-container">
        <form name="Form" action="/contact" method="post">
            <label style="width: 100%">Message:<br><textarea name="Message" rows="4" required style="resize: vertical; width: 100%" ></textarea></label> <br><br>
            <input type="submit" value="Send" id="button" style="border-radius: 5px;">
        </form>
    </div>
{% endblock %}
