{% extends "base.html" %}
{% block content %}
    {% from 'flask_user/_macros.html' import pictureframe %}
    <h1 class="center-text">FlAmEnCo</h1>

    <div class="picture-row">{{ pictureframe(description='Flamenco is whatever you want him to be. Or wherever you want him to be. is he in the deepest depths of your mind? maybe.', title= 'Mr Flamenco', image_link = '/static/pictures/flamenco/mrflamenco.bmp', bootstrap_size='3') }}
        {{ pictureframe(description='One day flamenco tryed his hand at water colours and decided to do a self portrait', title= 'Mr Flamenco gets artsy', image_link = '/static/pictures/flamenco/mrflamencogetsartsy.bmp', bootstrap_size='3') }}
        {{ pictureframe(description="dwarfish is not funny", title= 'Mr Flamenco gets small', image_link = '/static/pictures/flamenco/mrflamencogetssmall.bmp', bootstrap_size='3') }}
        {{ pictureframe(description='obesity is not funny', title= 'Mr Flamenco needs a diet', image_link = '/static/pictures/flamenco/mrflamenconeedsadiet.bmp', bootstrap_size='3') }}
    </div>
    {{ pictureframe(description='eatting disorders are not funny', title= 'Mr Flamenco goes on a diet', image_link = '/static/pictures/flamenco/mrflamencohasanirexia.bmp', bootstrap_size='3') }}
    {{ pictureframe(description='ORB', title= 'Mr Flamenco orbs', image_link = '/static/pictures/flamenco/mrflamencoorbs.bmp', bootstrap_size='3') }}

{% endblock %}
