{% extends "base.html" %}
{% block content %}
    {% from 'flask_user/_macros.html' import pictureframe %}
    <h1 class="center-text">Flamenco, Mr.</h1>

    <div class="picture-row">{{ pictureframe(image_id="flamenco1",description='Flamenco is whatever you want him to be. Or wherever you want him to be. is he in the deepest depths of your mind? maybe.', title= 'Mr Flamenco', image_link = '../static/pictures/Flamenco/mrflamenco.bmp', bootstrap_size='3') }}
        {{ pictureframe(image_id="flamenco2",description='One day Flamenco decided to try his hand at water colours and created this self portrait', title= 'Mr Flamenco gets artsy', image_link = '../static/pictures/Flamenco/mrflamencogetsartsy.bmp', bootstrap_size='3') }}
        {{ pictureframe(image_id="flamenco3",description="dwarfism is not funny", title= 'Mr Flamenco gets small', image_link = '../static/pictures/Flamenco/mrflamencogetssmall.bmp', bootstrap_size='3') }}
        {{ pictureframe(image_id="flamenco4",description='obesity is not funny', title= 'Mr Flamenco needs a diet', image_link = '../static/pictures/Flamenco/mrflamenconeedsadiet.bmp', bootstrap_size='3') }}
    </div>
    {{ pictureframe(image_id="flamenco5",description='eatting disorders are not funny', title= 'Mr Flamenco goes on a diet', image_link = '../static/pictures/Flamenco/mrflamencohasanirexia.bmp', bootstrap_size='3') }}
    {{ pictureframe(image_id="flamenco6",description='ORB', title= 'Mr Flamenco orbs', image_link = '../static/pictures/Flamenco/mrflamencoorbs.bmp', bootstrap_size='3') }}
    {{ pictureframe(image_id="flamenco7",description='oh helo. By shaft', title= 'Mr Asianenco', image_link = '../static/pictures/Flamenco/mrasianenco.bmp', bootstrap_size='3') }}

{% endblock %}
