{#<!-- todo fruit of the week#}
{#     todo enterance to the rabbit hole part of the site in a really boring and easy to miss location --!>#}
{##}

{% extends "prebase.html" %}
{% block content %}
    <img src="../static/welcome.gif" class="col-centered" style="display: block; width: 100%">
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="item-container ">
                <h2 class="no-margins center-text">MOI SUEW</h2>
                <p><a href="{{ url_for('user.register') }}"><img style="float: right; min-width: 200px; width: 20%"
                                                                 src="../static/mis/signup.gif"></a>Spoon the prune.
                    It's a website. On here you'll find some things that I and other people have made.
                    The
                    basic
                    plan
                    is; millions of people will travel here everyday and in the future I'll sneak adverts on so that
                    much
                    money is made.
                    Then I'll never have to work because working is effort. So come on, tell your friends and search for
                    stuff.</p>
            </div>
        </div>
        <div class="col-md-7 with-padding">

            <br>
            <div class="col-md-6 center-text">

                <img src="/static/mis/ifi.png" alt="" usemap="#Map"/>
                <map name="Map" id="Map">
                    <area alt="" title="" href="/worm" shape="poly" coords="110,54,107,59,110,64,118,59,119,55,115,52"/>
                </map>
                <br>
                <p class="center-text"> WIRED</p>
                <br>

            </div>
            <br>
            <div class="col-md-6">
               <a href="/lukas"><img src="../static/mis/lukasGrave.gif"></a>
                <br>
                <div class="item-container"><a href="/graveyard">visit the mem grave yard</a></div>
            </div>
        </div>
        <div class="col-md-5 with-padding">
            <div class="item-container"><h2 class="center-text">Fruit of the week</h2>
                <div class="center-text"><img src="../static/mis/pineapple.jpg" style="width: 70%;"></div>
                <h4>Pears</h4>
                <p>Quick tip!</p>
                <p>Pear and chocolate smoothies aren't very nice.</p>
                <p>Pear and cinnamon smoothies, however, are <a href="https://www.youtube.com/watch?v=lyUTLs6nOIM">pretty good.</a> </p>

            </div>

        </div>
    </div>


    <br>
    <div class="item-container ">
        <h2 class="center-text no-margins">Fen Bisher Simulator</h2>
        <br>
        <p><img style="float: left; margin: 10px" src="../static/mis/FenSim.jpg">
            The most cutting edge simulator game ever to be created. Staring Fen and guest staring Izzy. Directed and
            created by shaft
        </p>
        <a target="_blank" href="https://scratch.mit.edu/projects/118951327/">cLick here</a>
    </div>
{% endblock %}
