{#<!-- todo fruit of the week#}
{#     todo enterance to the rabbit hole part of the site in a really boring and easy to miss location --!>#}
{##}

{% extends "base.html" %}
{% block content %}
    <img src="../static/welcome.gif" class="col-centered" style="display: block; width: 100%">
    <div class="col-md-7">
        <div class="item-container ">
            <h2 class="no-margins center-text">Oi you</h2>
            <p>Spoon the prune. It's a website. On here you'll find some things that I and other people have made. The
                basic
                plan
                is; millions of people will travel here everyday and in the future I'll sneak adverts on so that much
                money is made.
                Then I'll never have to work because working is effort. So come on, tell your friends and search for stuff.</p>
        </div>
        <br>
        <div class="with-padding rounded clearfix" style="background-color: rgba(255, 43, 14, 0.48);">
            <p><img src="../static/ifi.png" width=30% style="float: right" class="with-margins">
                Honestly, theres not much on here at the moment but you know.
            </p>
        </div>
    </div>
    <div class="col-md-5">
        <h3 class="center-text">Fruit of the week</h3>
        <img src="../static/starfruit.gif" style="width: 100%">
        <h4>Starfruit</h4>
        <p>Officially known as Carambola, the starfruit is a fruit in the shape of a star. One interesting fact is
            that 100g of starfruit contains 2.8 grams of dietary fiber. </p>
        <a onclick=" window.open('https://www.youtube.com/watch?v=jTNSTk48BsA','','width=700,height=700'); window.open('https://www.youtube.com/watch?v=LCQ2Gs1lI7g','','width=700,height=500');  window.open('https://youtu.be/IfF03E6YlRc?t=38s','','width=700,height=500');">Click
            Here for star fruit videos</a>`
    </div>
{% endblock %}
