{#<!-- todo fruit of the week#}
{#     todo enterance to the rabbit hole part of the site in a really boring and easy to miss location --!>#}
{##}

{% extends "prebase.html" %}
{% block content %}
    <img src="../static/welcome.gif" class="col-centered" style="display: block; width: 100%">
    <div class="col-md-7">
        <div class="item-container ">
            <h2 class="no-margins center-text">Oi you</h2>
            <p>Spoon the prune. It's a website. On here you'll find some things that I and other people have made. The
                basic
                plan
                is; millions of people will travel here everyday and in the future I'll sneak adverts on so that much
                money is made.
                Then I'll never have to work because working is effort. So come on, tell your friends and search for
                stuff.</p>
        </div>
        <br>
        <div class="col-md-6 center-text">

            <img src="/static/mis/ifi.png" alt="" usemap="#Map"/>
            <map name="Map" id="Map">
                <area alt="" title="" href="/worm" shape="poly" coords="110,54,107,59,110,64,118,59,119,55,115,52"/>
            </map>


        </div>
        <br>
        <div class="col-md-6">
            <div class="item-container ">
                <p>
                    <img src="/static/mis/harambe.jpg" width="60%" style="float: left" class="with-margins"
                         onmouseover="this.src='../static/mis/harambe_ded.jpg'"
                         onmouseout="this.src='../static/mis/harambe.jpg'"
                         alt="harambae"/>

                    <strong style="text-decoration: underline" title="rest in piecez">Harambe</strong> <br>
                    Harambe's meme is as dead as he is.
                </p>
            </div>
            <br>
            <p class="center-text"> WIRED</p>
            <br>
        </div>
    </div>
    <div class="col-md-5">
        <h2 class="center-text">Fruit of the week</h2>
        <img src="../static/mis/grape.gif" style="width: 100%">
        <h4>Grape</h4>
        <p>Go eat some grapes. They are royal.</p>
        <a href="https://www.google.co.uk/search?q=grape&espv=2&rlz=1C1CHFX_en-GBGB662GB663&biw=1280&bih=923&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjA_JmModjOAhUJLMAKHdqqAuQQ_AUIBigB">Further
            reading</a>`

    </div>
    <br>
    <div class="item-container ">
        <h2 class="center-text no-margins">Fen Bisher Simulator</h2>
        <br>
        <p><img style="float: left; margin: 10px" src="../static/mis/FenSim.jpg">
            The most cutting edge simulator game ever to be created. Staring Fen and guest staring Izzy. Directed and created by shaft
        </p>
        <a href="https://scratch.mit.edu/projects/118951327/">cLick here</a>
    </div>
{% endblock %}
