<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Memeboard</title>
</head>
<body style="background-image: url('../static/pictures/memeboard/meme_board_background.jpg')">
<h1 style="text-align: center">THE MEMEBOARD</h1>
<h2 style="text-align: center">home of the savagest cut up magazines</h2>
<p style="text-align: center">Send in pictures of your memes to <bold>SpoonThePrune@gmail.com</bold></p>
<span style="color: white; background-color: black"><a href="/memeroom">VIEW THE LIVE CCTV</a></span>
<img width="100%" src="../static/pictures/memeboard/the_meme.gif">
</body>
</html>