{% extends "prebase.html" %}
{% block content %}
    <h1 class="center-text">Musika</h1>
    <br>
    <p>So ya got some exclusive sound waves below and here are some links to people how do a music
        <a href="https://soundcloud.com/georgehather/satin-dreams">Doctor. hather</a></p>
    <br>
    <div class="item-container clearfix">
        <h2> Womber <span style="font-size: xx-small">(I think)</span> </h2>
        <audio controls style="display: block; max-width: 100%">
            <source src="/static/music/womber.mp3" type="audio/mpeg">
        </audio>
        <p>Just some practice on an 4-track app I had on my phone. Did this like 2015 so feel free to bully me</p>
    </div>
    <br>

    <div class="item-container clearfix" style="position: relative">
        <div class="col-md-8">


            <h2>Wavezone</h2>
            <p>Made on a gutair made of waves. </p>
            <audio controls style="display: block; max-width: 100%">
                <source src="/static/music/Wavezone.mp3" type="audio/mpeg">
            </audio>


        </div>
        <div class="col-md-4">
            <img src="../static/music/wavezone.png" width=100% class="top-bottom-margin" style="margin-bottom: 30px">
        </div>
        <strong style="position: absolute; bottom: 0; display: block" class="with-margins">By Fen Bish</strong>
        <br>
    </div>

    <br>

    <div class="item-container clearfix">
        <h2> All in</h2>
        <audio controls style="display: block; max-width: 100%">
            <source src="/static/music/allIn.mp3" type="audio/mpeg">
        </audio>
        <p>A Lil' thing for when you go all in, in poker.</p>
    </div>
{% endblock %}
