{% extends "base.html" %}
{% from 'flask_user/_macros.html' import pictureframe %}
{% block content %}
    <h1 class="center-text">Pretty Pictures</h1>
    <p>Pictures. It is suggested that you use your eyes for these ones.</p>
    <br>
    <hr>
    <br>

    {{ pictureframe(description='Flamenco is whatever you want him to be. Or wherever you want him to be. is he in the deepest depths of your mind? maybe.', link='/flamenco' , title= 'Mr Flamenco', image_link = '/static/pictures/Flamenco/mrflamenco.bmp', bootstrap_size='3') }}

    <div class="col-md-1"><br></div>

    {{ pictureframe(bootstrap_size='4')}}


    <div class="col-md-1"><br></div>

    {{ pictureframe(bootstrap_size='3') }}

{% endblock %}
