{% extends "prebase.html" %}
{% from 'flask_user/_macros.html' import pictureframe %}
{% block content %}
    <h1 class="center-text">Pretty Pictures</h1>
    <p>Pictures. It is suggested that you use your eyes for these ones.</p>
    <p>ps. blue ones are albums and you can click on um</p>
    <br>
    <hr>
    <br>
    <div class="picture-row">    {{ pictureframe(image_id="flamenco1",description='Flamenco is whatever you want him to be. Or wherever you want him to be. is he in the deepest depths of your mind? maybe.', link='/flamenco' , title= 'Mr Flamenco', image_link = '/static/pictures/Flamenco/mrflamenco.bmp', bootstrap_size='4') }}
        {{ pictureframe(link="/pictures/hateyhate",title= 'Hatey Hate', bootstrap_size='4', image_link = '/static/pictures/sam_edge/stopthat.jpg', description = "Choice cuts of beef. By sam T") }}
        {{ pictureframe(image_id="wall",description='Only decent people have got their name on this wall.',title= 'The wall', image_link = '/static/wall.png', bootstrap_size='4') }}
    </div>
    <div class="picture-row"> {{ pictureframe(link="/pictures/school",description='Things done on paint from ict lessons', title= 'PAINT FROM SCHOOL', bootstrap_size='4', image_link = '/static/pictures/school/school.png') }}
        {{ pictureframe(bootstrap_size='4') }}
        {{ pictureframe(bootstrap_size='4') }}</div>


{% endblock %}
