{% extends "base.html" %}
{% block content %}
    <h1 class="center-text">Pretty Pictures</h1>
{#    <p>Pictures. It is suggested that you use your eyes for these ones.</p>#}
{#    <br>#}
{#    <hr>#}
{#    <br>#}
{#    <div class="item-container col-md-3 center-text ">#}
{#        asd#}
{#    </div>#}
{##}
{#    <div class="col-md-1"></div>#}
{##}
{#    <div class="item-container col-md-4 center-text ">#}
{#        asd#}
{#    </div>#}
{##}
{#    <div class="col-md-1"></div>#}
{##}
{#    <div class="item-container col-md-3 center-text ">#}
{#        fsf#}
{#    </div>#}
<img src="../static/comingSoon.png" class="col-centered" style="display: block">
{% endblock %}
