{% extends "base.html" %}
{% block content %}
    {% from 'flask_user/_macros.html' import pictureframe %}
    <h1 class="center-text">DJ j-sop</h1>
    <h3 class="center-text">Don't get scoped!</h3>

    <div class="picture-row">
        {{ pictureframe(image_id="school2",description='', image_link = '..\static\pictures\school\mrs_patrick.bmp', bootstrap_size='4') }}
        {{ pictureframe(image_id="school1",description='',image_link = '..\static\pictures\school\groin.png', bootstrap_size='4') }}
        {{ pictureframe(image_id="school3",description="",image_link = '..\static\pictures\school/thum_man.png', bootstrap_size='4') }}

    </div>
{% endblock %}
