{% extends "prebase.html" %}
{% block content %}
    <div>
        <div class="col-md-3">
        <a href="/memeboard">
            <div style="background-color: lightpink"><p>Meme <br>board ?<br> Here. </p></div>
        </a>
        </div>
    <div class="col-md-9">
        <p>!!ACHTUNG!!SIXTH FORM SUX!!! To all those intrested, 6th form is not very good. the music played in the common
        room is bad enough to tune a mortal man to stone and the year above's conversations are no where near as sophisticated
        as they think they are. Barring all of that, some times things can get a little funny. Any good happenings will end up here.</p>
    </div>
    </div>
    <img src="../static/pictures/Sixth%20Form/classicMeme.png">
    <img src="../static/pictures/Sixth%20Form/jakeyBoyy.png">

{% endblock %}

