{% extends "base.html" %}
{% block content %}
    <h1 class="center-text">Videos</h1>
    <p>A v<a href="/videos/equation" style="color: black; text-decoration: none">i</a>deo is like a load of pictures
        combined with some sounds. If you would like a equation for this then would you kindly locate and click on the
        first 'i' in this paragraph. If not then look below this for some choice homemade videos. </p>
    <br>
    <hr>

    <div class="with-margins item-container">
        <h2 class="center-text no-margins">Searching for sik points</h2>
        <p>The long awaited documentary, that has been kept extreamly secretive while being edited, has finally released a
            trailer!<br>
            The real film will be released shortly on SpoonThePrune.com and DVD.</p>
       <a href="/videos/sik-points"> <strong>TO VIEW THIS YOU MUST BE LOGGED ON CUS ITS A SECRET BUT IF YOU ARE CLICK HERE</strong></a>
    </div>

    <div class="with-margins item-container">
    <h2 class="center-text no-margins">FAST</h2>
<div class="bouncing-container"><p>gotta go <a href="/videos/fast">FAST</a> </p></div>
    </div>
{% endblock %}

