{% extends "prebase.html" %}
{% block content %}



<div class="center-text">
   <h2>The OG colin</h2>
    <video autoplay loop width="80%">
        <source src="../../static/videos/colin.mp4" type="video/mp4">
    </video>
    <p>All the best,
Cheers drive. </p>
    <br>
    <h2>Colin's cousin, Kevin </h2>
<img src="../../static/mis/kevinTheKone.JPG" style="width: 80%">
<p class="item-container">he dusnt say anyfink. he dunt fank the driver. rude boi. silly lil kone. ugh. 2 rude 8 me. qated by fenny bish and sammyT. </p>
</div>
{% endblock %}